@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");


@font-face {
  font-family: Vazir;
  src: url('../assets/fonts/vazir/eot/Vazir.eot');
  src: url('../assets/fonts/vazir/eot/Vazir.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/vazir/woff2/Vazir.woff2') format('woff2'),
    url('../assets/fonts/vazir/woff/Vazir.woff') format('woff'),
    url('../assets/fonts/vazir/ttf/Vazir.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url('../assets/fonts/vazir/eot/Vazir-Bold.eot');
  src: url('../assets/fonts/vazir/eot/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/vazir/woff2/Vazir-Bold.woff2') format('woff2'),
    url('../assets/fonts/vazir/woff/Vazir-Bold.woff') format('woff'),
    url('../assets/fonts/vazir/ttf/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
}

body {
  font-family: Vazir !important;
  overflow-x:hidden !important ;
}